<% @posts.each do |post| %>
  <div class="card mt-5">
    <div class="card-header">
      <h2><%= post.title %> - <%= post.user.email %></h2>
    </div>
    <div class="card-body">
      <p> <%= post.body %> </p>
      <%= link_to "Read more...", post, class: "btn btn-primary" %>
      <% if user_signed_in? %>
        <% if post.user_id == current_user.id %>
          <%= link_to "Edit", edit_post_path(post), class: "btn btn-primary" %>
        <% end %>
      <% end %>
    </div>
    <div class="card-footer"> <%= time_ago_in_words(post.created_at) %> </div>
  </div>
<% end %>
